.btn-wizard-nav-cancel { background-color: rgb(75, 40, 109); color:white; border:none; }
.btn-wizard-nav-previous { background-color: rgb(75, 40, 109); color:white; border:none; }
.btn-wizard-nav-next { background-color: rgb(75, 40, 109); color:white; border:none; }